$white: #FFFFFF;
$black: #111111;
$grey: #AAAAAA;

$h-size: 26px;
$h-font-fam: sans-serif;

$p-size: 18px;
$p-font-fam: helvetica;

$home-bg: url(../img/bg1.jpg);

$album-small: 256px;
$album-large: 314.33px;

$tablet-break: 920px;