
//====== COLORS AND FONTS ======//

$txt-color1: black;
$p-font: 'Helvetica';
$h-font: 'Gill Sans';

$header-footer-color: #f4614b;

$nav-bottom-footer-color: #202020;

$grey: #80726b;

$teal: #3694a7;

$center: 0 auto;
